# Python compiled files
*.pyc
*.pyo
*.pyd
*__pycache__/

# Testing
.pytest_cache/
.coverage
.tox
.cache

# Virtual environments
.venv/
.env
env/
venv/

# Java compiled files
*.class
*.jar
*.war
*.ear
*.iml

# IDE and system files
.idea/
.DS_Store
Thumbs.db
*.log
*.out
*.tmp
*.swp
~*
